﻿@model List<OMSWebApi.Models.Applications>
@{
    ViewBag.Title = "Application";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/webgrid.css" rel="stylesheet" />

    <h2>Application Master Entry</h2>
    <br />
    <div id="lblMsg" class="validation-err-msg"></div>
    <br />
    <div style="width:100%;float:left;padding-bottom:50px;">
        
        <a href="javascript://" id="btnAddNew">Add New(+)</a>
        
        @{if (Model != null)
    {
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 50, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent"); grid.Pager(WebGridPagerModes.NextPrevious);
        <div id="gridContent" class="articleHeader article_lst">


                @grid.GetHtml(tableStyle: "webgrid-table",
             headerStyle: "webgrid-header",
             footerStyle: "webgrid-footer",
             alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "select",
            columns: grid.Columns(
             grid.Column("",
                    style: "col1",
                    format: @<text><div style="padding-left:20px;">
                                <button class="btn_grid edit-item display-mode" id="@item.ApplicationId">Edit</button>
                                <button class="btn_grid display-mode delete-item" id="@item.ApplicationId">Delete</button>
                                <button class="btn_grid save-item edit-mode" id="@item.ApplicationId">Save</button>
                                <button class="btn_grid cancel-item edit-mode" id="@item.ApplicationId">Cancel</button>
                            </div>
                        </text>),
             grid.Column(columnName:"ApplicationId", header:"ID"),
             grid.Column(columnName:"ApplicationName", header:"App Name",
                    style: "col2",
                    format: @<text>
                            <span id="ApplicationName" class="display-mode">@item.ApplicationName</span>
                            @Html.TextBox("ApplicationName-Edit", (string)item.ApplicationName, new { @class = "edit-mode" })
                        </text>),
            grid.Column(columnName:"Description", header:"Description",
                    style: "col2",
                    format: @<text>
                            <span id="Description" class="display-mode">@item.Description</span>
                            @Html.TextBox("Description-Edit", (string)item.Description, new { @class = "edit-mode" })
                        </text>),
            @* grid.Column("CurrentVersion",
                    style: "col2",
                    format: @<text>
                        <span id="CurrentVersion" class="display-mode">@item.CurrentVersion</span>
                        @Html.TextBox("CurrentVersion-Edit", (string)item.CurrentVersion, new { @class = "edit-mode" })
                    </text>),
           grid.Column("StartDate",
                    style: "col2",
                    format: @<text>
                        <span id="StartDate" class="display-mode">@item.StartDate</span>
                        @Html.TextBox("StartDate-Edit", (string)item.StartDate, new { @class = "edit-mode" })
                    </text>),
            grid.Column("EndDate",
                    style: "col2",
                    format: @<text>
                        <span id="EndDate" class="display-mode">@item.EndDate</span>
                        @Html.TextBox("EndDate-Edit", (string)item.EndDate, new { @class = "edit-mode" })
                    </text>),*@
           grid.Column(columnName:"CreateDate", header:"Create Date",
                    style: "col2",
                    format: @<text>
                        <span id="CreateDate" class="display-mode">@Convert.ToString(item.CreateDate)</span>
                        <span id="CreateDate" class="edit-mode">@Convert.ToString(item.CreateDate)</span>
                        @*@Html.TextBox("CreateDate-Edit", (string)item.CreateDate, new { @class = "edit-mode" })*@
                    </text>),
           grid.Column(columnName:"UpdateDate", header:"Update Date",
                    style: "col2",
                    format: @<text>
                        <span id="UpdateDate" class="display-mode">@Convert.ToString(item.UpdateDate)</span>
                        <span id="UpdateDate" class="edit-mode">@Convert.ToString(item.UpdateDate)</span>
                        @*@Html.TextBox("UpdateDate-Edit", (string)item.UpdateDate, new { @class = "edit-mode" })*@
                    </text>),
           grid.Column("Is Active",
                    style: "col3",
                    format: @<text>
                            @{bool isActive = Convert.ToBoolean(item.IsActive);
                        <span id="IsActive" class="display-mode">@Convert.ToBoolean(item.IsActive)</span>
                            @Html.CheckBox("IsActive-Edit", isActive, new { @class = "edit-mode" })
                        }
                        </text>)))

            </div>
    }
    }
    </div>

<script type="text/javascript">
    $(document).ready
     (
         function () {
             initialize();

             function initialize() {
                // $(".datepicker").datepicker({ format: 'dd/mm/yyyy', autoclose: true, todayBtn: 'linked' })
                 // $(".datepicker").datepicker("update", new Date());

                 var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';


                 $('#btnAddNew').click(function () {
                     if ($('.add-item').length == 0) {
                         var newRow = $("<tr>");
                         newRow.append("<td style='padding-left:20px'><button class='btn_grid add-item edit-mode' id='0'>Add</button>&nbsp;<button class='btn_grid remove-item edit-mode' id='0'>Cancel</button> </td>");
                         newRow.append("<td>&nbsp;</td>");
                         newRow.append("<td><input type='text' id='ApplicationName-Add' class='edit-mode'/></td>");
                         newRow.append("<td><input type='text' id='Description-Add' class='edit-mode'/></td>");
                         newRow.append("<td>&nbsp;</td>");
                         newRow.append("<td>&nbsp;</td>");
                         newRow.append("<td><input type='checkbox' id='IsActive-Add' checked class='edit-mode'/></td>");

                         $('#gridContent tbody:last').append(newRow);
                     //    $(".datepicker").datepicker({ format: 'dd/mm/yyyy', autoclose: true, todayBtn: 'linked' })
                     //    $(".datepicker").datepicker("update", new Date());

                     }

                     // Click action on Add Button, after Add New(+) link is clicked to add new item.
                     $('.add-item').on('click', function () {
                         var tr = $(this).parents('tr:first');
                         var ApplicationId = $(this).prop('id');
                         var ApplicationName = tr.find('#ApplicationName-Add').val();
                         var Description = tr.find('#Description-Add').val();
                         var IsActive = tr.find('#IsActive-Add').prop("checked");

                         $('#lblMsg').empty();
                         var validStatus = IsValid(tr, ApplicationName);

                         if (validStatus) {
                             $.post(
                                 pHostedDir + '/Home/AddNewApplication',
                                 { ApplicationId: ApplicationId, ApplicationName: ApplicationName, Description: Description, IsActive: IsActive },
                                 function (item) {
                                     var currentURL = window.location.href;
                                     window.location.replace(currentURL);
                                 }, "json");
                         }


                         //tr.remove();
                     });


                 });

                 $('.edit-mode').hide();


                 $('.edit-item').on('click', function () {
                     $('.edit-mode').hide();
                     $('.delete-mode').hide();
                     $('.display-mode').show();
                     var tr = $(this).parents('tr:first');
                     tr.find('.edit-mode, .display-mode').toggle();
                 });



                 $('.cancel-item').on('click', function () {
                    // alert("Cancel clicked rks...");
                     var tr = $(this).parents('tr:first');
                     tr.find('.display-mode,.edit-mode').toggle();
                 });

                 $('#btnAddCancle').on('click', function () {
                     alert("Cancel remove clicked rks...");
                   //  var tr = $(this).parents('tr:first');
                   //  tr.find('.display-mode,.edit-mode').toggle();
                 });

                 //----------------------------------------------------------------------------------------

                 $('.delete-item').on('click', function () {
                     if (confirm("Are you sure to delete this Application? It will also delete all Menus associated to this Application and can not be recovered...")) {
                         var tr = $(this).parents('tr:first');
                         var ApplicationId = $(this).prop('id');
                         $.post(
                             pHostedDir + '/Home/DeleteApplication/',
                             { ApplicationId: ApplicationId },
                             function (item) {
                                 tr.remove();
                             }, "json");
                     }
                 });

                 // --------------------------------------------------------------------------------------

                 //Click action on Save Button
                 $('.save-item').on('click', function () {
                     var tr = $(this).parents('tr:first');
                     var ApplicationId = $(this).prop('id');
                     var ApplicationName = tr.find('#ApplicationName-Edit').val();
                     var Description = tr.find('#Description-Edit').val();
                     //var CurrentVersion = tr.find('#CurrentVersion-Edit').val();
                     //var StartDate = tr.find('#StartDate-Edit').val();
                    // var EndDate = tr.find('#EndDate-Edit').val();
                   //  var CreateDate = tr.find('#CreateDate-Edit').val();
                     var IsActive = tr.find('#IsActive-Edit').prop("checked");
                     //alert("Save ...; " + ApplicationId + " ;" + ApplicationName + " '" + Description + " ;" + IsActive);
                     // contentType: 'application/x-www-form-urlencoded',



                     $('#lblMsg').empty();
                     var validStatus = IsValid(tr, ApplicationName);

                     if (validStatus) {
                         $.ajax({
                             type: "POST",
                             url: pHostedDir + "/Home/UpdateApplication",
                             data: JSON.stringify({ ApplicationId: ApplicationId, ApplicationName: ApplicationName, Description: Description, IsActive: IsActive }),
                             contentType: 'application/json; charset=utf-8',
                             datatype: "json",
                             success: function (data) {
                                 var receivedData = JSON.parse(data);
                                 if (receivedData[0].Message == "success") {
                                     tr.find('#ApplicationName').text(receivedData[0].ApplicationName);
                                     tr.find('#Description').text(receivedData[0].Description);
                                     tr.find('#UpdateDate').text(receivedData[0].UpdateDate);
                                     tr.find('#IsActive').text(receivedData[0].IsActive);
                                 }
                                 else
                                     alert("Fail to save.");
                             }
                         });
                     }



                     tr.find('.edit-mode, .display-mode').toggle();
                 });

                 // --------------------------------------------------------------------------------------
             }

             function IsValid(tr, ApplicationName) {
                 if (ApplicationName == "") {
                     $('#lblMsg').empty();
                     $('#lblMsg').append("App Name can't be blank....");
                     // alert("App Name can't be blank....");
                     //$('#TempApplicationDDL').focus();
                     return false;
                 }
                 return true;
             }
         }
     );
</script>

