﻿@model OMSWebApi.Models.RoleApplicationAccessMapping

@{
    ViewBag.Title = "AppRoleMappings";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/webgrid.css" rel="stylesheet" />

<h2>Application Role Mappings</h2>

<br />
<table border="0" style="width : 300px">
    <tr>
        <td>Application : </td>
        <td> @Html.DropDownListFor(m => m.ApplicationList, new SelectList(Model.ApplicationList, "CodeId", "Value1", 0), "-- Select --")</td>
    </tr>
    <tr><td colspan="2"><br /></td></tr>
    <tr>
        <td id="lblMsg" class="validation-success-msg" colspan="2"></td>
    </tr>
</table>
<br />
<div id="myGrid"></div>


<script type="text/javascript">
    $(document).ready
     (
         function () {
             initialize();

             function initialize() {

                 var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';

                 var ddlOnChangeApplicationVal = 0;

                 $("#ApplicationList").on('change', function () {
                     ddlOnChangeApplicationVal = $(this).val();

                     $('#lblMsg').empty();
                  //   alert(ddlOnChangeApplicationVal);

                     FillWebGridRoleAppAccessMap(ddlOnChangeApplicationVal);
                 });




                 function FillWebGridRoleAppAccessMap(ddlOnChangeApplicationVal) {
                      //     alert(ddlOnChangeApplicationVal );

                         @*//    $.get('@Url.Action("RoleAppAccessMapping", "Home", new { @AppId = 2, @RoleId = 1 }, null)');*@
                         $('#myGrid').empty();
                         $('#lblMsg').empty();

                         $.ajax({
                             type: "POST",
                             url: pHostedDir + "/Home/AppRoleMapping",
                             data: JSON.stringify({ AppId: ddlOnChangeApplicationVal }),
                             contentType: 'application/json; charset=utf-8',
                             async: false,
                             datatype: "json",
                             success: function (data) {

                                 $('#myGrid').append(data);
                             }
                         });
                 }

             }
         }
     );
</script>