﻿@model OMSAdminPortal.Models.PageDetailList
@{
    ViewBag.Title = "Default Screen Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/webgrid.css" rel="stylesheet">


<script src="~/Scripts/jquery-1.10.2.js"></script>
<br />
<div class="row">
    <div class="col-md-6 pull-left"><h2>Default Screen Page</h2></div><div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-6 pull-left"><h5><b>User Role: @Model.Rolename</b></h5></div><div class="col-md-6 pull-right"><h8><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add Page Control</button></h8></div>
</div>

<div>

    @{
    using (Html.BeginForm("InsertVisibility", "Home", FormMethod.Post, new { @id = "CNform" }))
    {
    if (Model != null)
    {
    var grid = new WebGrid(Model.pagecontent, canPage: true, rowsPerPage: 50, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent"); grid.Pager(WebGridPagerModes.NextPrevious);
    <div id="gridContent" class="articleHeader article_lst" style="overflow: auto; width:1400px; position:relative; border: none">


        @grid.GetHtml(tableStyle: "webgrid-table",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "select",
        columns: grid.Columns(
        grid.Column(columnName: "ApplicationID", header: "AppID"),
        grid.Column(columnName: "ScreenID", header: "Screen ID",
        style: "col2",
        format: @<text>
            <span id="ScreenID" class="display-mode">@item.ScreenID</span>
        </text>),
        grid.Column(columnName: "ControlID", header: "ControlID",
        style: "col2",
        format: @<text>
            <span id="ControlID" class="display-mode">@Convert.ToString(item.ControlID)</span>
        </text>),
        grid.Column(columnName: "ControlType", header: "ControlType",
        style: "col2",
        format: @<text>
            <span id="ControlType" class="display-mode">@Convert.ToString(item.ControlType)</span>
        </text>),
        grid.Column(columnName: "Description", header: "Description",
        style: "col2",
        format: @<text>
            <span id="Description" class="display-mode">@Convert.ToString(item.Description)</span>
        </text>),
        grid.Column(columnName: "ApplicationName", header: "ApplicationName",
        style: "col2",
        format: @<text>
            <span id="ApplicationName" class="display-mode">@Convert.ToString(item.ApplicationName)</span>
        </text>),
        grid.Column(columnName: "AccessID", header: "AccessID",
        style: "col2",
        format: @<text>
            <span id="AccessID" class="display-mode">@Convert.ToString(item.AccessID)</span>
        </text>),
        grid.Column(columnName: "Visibility", header: "Visibility",
        style: "col2",
        format: @<text>
            @if (item.Visibility == "true")
            {
            @Html.RadioButton((String)item.DefaultID, (String)item.Visibility, new { @checked = "checked" }) @:Show
            @Html.RadioButton((String)item.DefaultID, "false") @:Hide
            }

            @if (item.Visibility == "false")
            {
            @Html.RadioButton((String)item.DefaultID, "true") @:Show
            @Html.RadioButton((String)item.DefaultID, (String)item.Visibility, new { @checked = "checked" }) @:Hide
            }
        </text>)
        ))
    </div>
    <br />
    <input type="submit" id="btnSave" value="Save" />
    <br />

    
    <b> @TempData["var"].ToString()</b>
    }
    }
    }

    

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                @{
        using (Html.BeginForm("InsertDefaultScreen", "Home", FormMethod.Post, new { @id = "Nform" }))
        {
            if (Model != null)
            {
                <div class="form-group">
                    <label>Screen ID:</label>
                    @Html.Label("Screen ID", Model.ScreenID, new { @class = "form-control" })
                    @Html.HiddenFor(m => m.ScreenID)
                    @Html.HiddenFor(m => m.AccessID)
                    @Html.HiddenFor(m => m.ApplicationID)
                </div>

                <div class="form-group">
                    <label>Role Name:</label>

                    @Html.Label("Role Name", Model.Rolename, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>ControlID:</label>
                    @Html.TextBoxFor(m => m.ControlID, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>ControlType:</label>
                    @Html.TextBoxFor(m => m.ControlType, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                </div>

                }



            <p>Some text in the modal.</p>
            <div class="modal-footer">
                <input type="submit" id="btnSave" value="Save" />
                <button type="button" data-dismiss="modal">Close</button>
            </div>
                }
                }
            </div>
                
            </div>

    </div>
</div>



<script type="text/javascript">
    $(document).ready
     (
         function () {
             initialize();

             function initialize() {

                 //debugger;
                 var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';

                 $('#btnSave').click(function () {
                     
                     //var data=@Model;
                     var data = $('#CNform').serialize();
                     console.log(data);

                    
                 });
             }
         }
     );
</script>