﻿@model OMSWebApi.Models.UserApplicationRoleMapping

@{
    ViewBag.Title = "UserAppRoleMapping";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/webgrid.css" rel="stylesheet" />

<h2>Import OMS User to OAuth</h2>
<br />
<table>
    <tr>
        <td><input type="button" id="btnImportOMSUser" value="Import OMS User" /> </td>
        <td></td>
        <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td id="divRoleDDL"></td>
        <td></td>
    </tr>
    <tr><td colspan="5"><br /></td></tr>
    <tr> <td id="lblMsg" class="validation-success-msg" colspan="5"></td></tr>
</table>
<br />
<div id="myGrid"></div>

<script type="text/javascript">
    $(document).ready
     (
         function () {
             initialize();

             function initialize() {
                 var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';

                 $('#btnImportOMSUser').click(function () {


                     $.ajax({
                         type: "POST",
                         url: pHostedDir + "/Home/ImportOMSUserToOAuthDB",
                     //    data: JSON.stringify({ ApplicationId: ApplicationId, RoleId: RoleId, SelectedRoleIds: SelectedRoleIds.toString(), NotSelectedRoleIds: NotSelectedRoleIds.toString() }),
                         contentType: 'application/json; charset=utf-8',
                         async: false,
                         datatype: "json",
                         success: function (data) {
                             var receivedData = JSON.parse(data);
                             if (receivedData[0].Message == "success") {
                                 $('#lblMsg').append("Mapping saved successfully...");
                             }
                             else
                                 $('#lblMsg').append("Mapping fail to save...");
                         }
                     });
                 });
             }
         }
     );
</script>