﻿@{
    ViewBag.Title = "Home Page";
}
<br /><br />
<div class="jumbotron">
    <h1>OMS Admin Portal</h1>
    <h2>Management System for Application, Role, Navigation and Users</h2> 
</div>

@*<div class="row">
    <div>
            <form id="frmUser">
                <table width="700px" border="0">
                    <tr>
                        <td>User Id</td>
                        <td><input type="text" id="txtUserId" value="013030" /></td>
                    </tr>
                    <tr>
                        <td>Application Id</td>
                        <td><input type="text" id="txtAppId" value="23" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="button" id="btnSubmit" value="Submit" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><br /><br />Access: <textarea id="txtAccess" rows="4" cols="1000" style="width:1000px; height:300px;"></textarea></td>
                    </tr>
                </table>
            </form>
    </div>
</div>*@


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready
     (
         function () {
             
            // ----------------------------------------------------
             $('#btnSubmit').on('click', function () {
                 // alert("Verify Clicked...");

                 ////$.ajax({
                 ////    type: 'POST',
                 ////    url: 'http://166.62.119.178/SSOAuthAPI/token',
                 ////    data: { grant_type: 'password', username: "013030", password: "Test@123" },
                 ////    dataType: 'json',
                 ////    success: function (data) {
                 ////        alert(data.access_token);
                         //new -- 

                       //  var VerifyUsr = new Object();
                       //  VerifyUsr.UserId = "013030";

                       //  var reqData = JSON.stringify(VerifyUsr);
                         // alert("verify token....");
                 //  debugger;
                 // http://localhost:61331/api/UserAuthorizationForUser
                 // http://166.62.119.178/OMSWebApi/api/UserAuthorizationForUser

                        var userId = $('#txtUserId').val();
                        var appId = $('#txtAppId').val();

                       alert("RK for test ..."+userId + " ; " + appId);
                        // Call OMSWebApi 
                         $.ajax({
                             type: 'GET',
                             url: 'http://localhost:61331/api/UserAuthorizationForUser/' + userId + '/' + appId,
                             //data: { "UserId": "013030" },
                             //datatype: 'text',
                             //contentType: "application/json",
                             //headers: { "Authorization": "Bearer " + data.access_token },
                             //async: false,
                             success: function (dataUser) {
                                 debugger;
                                // alert("dataUser: " + dataUser);
                                 $('#txtAccess').val(JSON.stringify(dataUser));
                             },
                             error: function (XMLHttpRequest, textStatus, errorThrown) {
                                 alert("some error");
                             }
                         });
                         //end
                       //  window.location.href = hash[1] + "?token=" + data.access_token + "&userName=" + $("#UserName").val().trim();
                 ////    },
                 ////    error: function (data) {
                 ////        //  alert(data.responseJSON.error_description);
                 ////        alert("Invalid Username Or Password");
                 ////    }
                 ////});
             })






             //$('#btnSubmit').on('click', function () {
                 
             // //   var RoleApplicationAccessMapping = new Object();
             //  //  RoleApplicationAccessMapping.UserId = $('#txtUserId').val().toString();
             //  //  RoleApplicationAccessMapping.AppId = $('#txtAppId').val().toString();
             //   // alert(RoleApplicationAccessMapping.UserId + " ; " + RoleApplicationAccessMapping.AppId);
             //  //  var requestData = JSON.stringify(RoleApplicationAccessMapping);
             //   // alert("hi ccccyyyy");
             //    debugger;
             //    $.ajax
             //       (
             //           {
             //               url: 'http://localhost:50313/api/UserAuthorization/013030',
             //               type: 'GET',
             //               data: { "UserId": "013030" },
             //               datatype: 'text',
             //               contentType: "application/json",
             //               async: false,
             //               success: function (data) {
             //                   alert("Return Data: ");
                                
             //               }
             //           }

             //       );
             //})

             //---------------------------------------------------
             // -- url: 'http://localhost:61881/api/UserProfile/013030',
         }
     );
</script>