﻿@model OMSWebApi.Models.RoleApplicationAccessMapping

@{
    ViewBag.Title = "RoleAppAccessMapping";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/webgrid.css" rel="stylesheet" />

<h2>Role Application Navigation Mapping</h2>
<br />
<table>
    <tr>
        <td>Application : </td>
        <td> @Html.DropDownListFor(m => m.ApplicationList, new SelectList(Model.ApplicationList, "CodeId", "Value1", 0), "-- Select --")</td>
        <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
        <td id="divRoleDDL"></td>
        <td>
            @Html.Hidden("HdnOnChangeApplicationDDLVal")
            @Html.Hidden("HdnOnChangeRoleValDDLVal")
            @Html.Hidden("HdnPageFlag")
        </td>
    </tr>
    <tr><td colspan="5"><br /></td></tr>
    <tr><td id="lblMsg" class="validation-success-msg" colspan="5"></td></tr>
</table>
<br />
<div id="myGrid"></div>


<script type="text/javascript">
    $(document).ready
     (
         function () {
             initialize();

             function initialize() {

                 var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';
                 //$('#HdnPageFlag').val("RoleAppAccess");
                 $('#HdnPageFlag').val(1); // 1 is for RoleAppAccessMapping and 2 is for UserAppRoleMapping

              //   var ddlOnChangeApplicationVal = 0;
              //   var ddlOnChangeRoleVal = 0;

                 $("#ApplicationList").on('change', function () {
                     //ddlOnChangeApplicationVal = $(this).val();
                     $('#HdnOnChangeApplicationDDLVal').val($(this).val());

                     $('#myGrid').empty();
                     $('#lblMsg').empty();

                   //  alert($('#HdnOnChangeApplicationDDLVal').val());

                    // FillWebGridRoleAppAccessMap(ddlOnChangeApplicationVal, ddlOnChangeRoleVal);
                     FillRoleDropDownList($('#HdnOnChangeApplicationDDLVal').val());
                 });

                 function FillRoleDropDownList(ddlOnChangeApplicationVal) {
                     $('#divRoleDDL').empty();

                     $.ajax({
                         type: "POST",
                         url: pHostedDir + "/Home/FillRoleDDL",
                         data: JSON.stringify({ AppId: ddlOnChangeApplicationVal }),
                         contentType: 'application/json; charset=utf-8',
                         async: false,
                         datatype: "json",
                         success: function (data) {
                             $('#divRoleDDL').append(data);
                         }
                     });
                 }

             }
         }
     );
</script>