﻿
@{
    ViewBag.Title = "UserCreation";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/webgrid.css" rel="stylesheet" />

<h2>User Creation</h2>
<div id="lblMsg" class="validation-err-msg"></div> <br />
<div>
    <table>
        <tr>
            <td style="background-color: #f1eded">Domain: </td>
            <td>@*<input type="text" id="txtDomain" value="SECAUCUS" />*@
                <select id="ddlDomain" style="width:250px;" >
                    <option id="SECAUCUS">SECAUCUS</option>
                    <option id="BLANK"></option>
                </select>
            </td>
        </tr>
        @*<tr>
            <td colspan="2">Email: <input type="radio" name="rdoMain" id="rdoEmail" /> Windows Username: <input type="radio" name="rdoMain" id="rdoUserName" /> Broker Id: <input type="radio" name="rdoMain" id="rdoBrokerId" /> General User <input type="radio" name="rdoMain" id="rdoGeneral" /> </td>
        </tr>*@
        <tr>
            <td style="background-color: #f1eded">
                <select id="ddlUserInput" style="background-color: #f1eded">
                    <option value="Email">Goya Email:</option>
                    <option value="AccountName">Windows Login Id (LDAP):</option>
                    <option value="BrokerId">Broker Id:</option>
                    <option value="GeneralUser">General User Name:</option>
                </select>
            </td>
            <td><input type="text" id="txtUserInput" style="width:250px" /></td>
        </tr>
        <tr>
            <td style="background-color: #f1eded">User Type: </td>
            <td>
                <select id="ddlUserType" style="width:250px;">
                    <option value=""></option>
                    <option value="GB">Global</option>
                    <option value="DM">Division Manager</option>
                    <option value="GM">Group Manager</option>
                    <option value="BR">Broker</option>
                    <option value="Admin">Admin</option>
                    <option value="CS">Customer</option>
                </select>
            </td>
        </tr>
        <tr class="GeneralUser">
            <td style="background-color: #f1eded">User Full Name: </td>
            <td><input type="text" id="txtUserFullName" style="width:250px" /></td>
        </tr>
        <tr class="GeneralUser">
            <td style="background-color: #f1eded">Email: </td>
            <td><input type="text" id="txtUserEmail" style="width:250px" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" id="btnCreate" value="Create" /> <input type="button" id="btnReset" value="Reset" /></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
   
    $(document).ready
    (
        function () {
            
            initialize();

            var ddlUserInputType = $('#ddlUserInput').val();
            
            function initialize() {
                
                $("#ddlDomain").prop("disabled", true);
                $(".GeneralUser").hide();
                $('#lblMsg').empty();

                var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';

                $("#ddlUserInput").change(function () {
                    $('#lblMsg').empty();
                    ddlUserInputType = this.value;
                    if (ddlUserInputType == "BrokerId" || ddlUserInputType == "GeneralUser")
                    {
                        $("#ddlDomain").val("");
                        $("#txtUserInput").val("");
                        $("#ddlUserType").val("");
                        $(".GeneralUser").show();
                    }
                    if (ddlUserInputType == "Email" || ddlUserInputType == "AccountName") {
                        $("#ddlDomain").val("SECAUCUS");
                        $("#txtUserInput").val("");
                        $("#ddlUserType").val("");
                        $(".GeneralUser").hide();
                        $('#txtUserEmail').val("");
                        $('#txtUserFullName').val("");
                    }

                });

                //$("#ddlDomain").change(function () {
                //    ddlDomainVal = this.value;
                //});
                
                $('#btnCreate').click(function () {
                    $('#lblMsg').empty();
                    var Domain = $('#ddlDomain').val();
                    var UserInputValue = $('#txtUserInput').val();
                    var UserType = $('#ddlUserType').val();
                    var UserFullName = $('#txtUserFullName').val();
                    var Email = $('#txtUserEmail').val();

                    if (IsValidated()) {
                        $.ajax({
                            type: "POST",
                            url: pHostedDir + "/Home/CreateNewUser",
                            data: JSON.stringify({ Domain: Domain, SelectedUserInputType: ddlUserInputType, SelectedUserInputValue: UserInputValue, UserType: UserType, UserFullName: UserFullName, EmailId: Email }),
                            contentType: 'application/json; charset=utf-8',
                            datatype: "json",
                            success: function (data) {
                                //alert(data);
                                //debugger;
                                var receivedData = JSON.parse(data);
                                //alert(receivedData);
                                if (receivedData[0].Message == "success") {
                                    $('#lblMsg').append("User Created Successfully.");
                                 //   alert("User Created Successfully...");
                                }
                                else
                                {
                                    $('#lblMsg').append("! ERROR, Fail to create user.");
                                }
                                   // alert("Fail to save.");
                            }
                        });
                    }
                
                });
            }

            function IsValidated()
            {

                if ($('#txtUserInput').val().trim() == "") 
                {
                    $('#lblMsg').empty();
                    $('#lblMsg').append($('#ddlUserInput').val() + " can't be blank.");
                    $('#txtUserInput').focus();
                    return false;
                }

                if (ddlUserInputType == "Email")
                {
                    if (validateEmail($('#txtUserInput').val()))
                    {return true;}
                    else
                    {
                        $('#lblMsg').append("Email is not valid.");
                        $('#txtUserInput').focus();
                        return false;
                    }
                }
                
                if ($('#ddlUserType').val().trim() == "") {
                    $('#lblMsg').empty();
                    $('#lblMsg').append("Please select User Type.");
                    $('#ddlUserType').focus();
                    return false;
                }

                if (ddlUserInputType == "BrokerId" || ddlUserInputType == "GeneralUser")
                {
                   // alert($('#txtUserEmail').val());
                    if (validateEmail($('#txtUserEmail').val()))
                    { return true; }
                    else
                    {
                        $('#lblMsg').append("Email can't be blank OR Email is not valid.");
                        $('#txtUserEmail').focus();
                        return false;
                    }
                }

                return true;
                
            }

            // Validation for Email
            function validateEmail(sEmail) {
                var filter = /^[\w\-\.\+]+\@@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
                if (filter.test(sEmail)) {
                    return true;
                }
                else {
                    return false;
                }
            }
        }
    );
</script>