﻿
@model OMSWebApi.Models.RoleApplicationAccessMapping
@{
    ViewBag.Title = "RoleAppAccessMapping";
}


<div>
    @{if (Model != null)
    {
        var grid = new WebGrid(Model.RoleAppAccessMapList, canPage: true, rowsPerPage: 50, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent"); grid.Pager(WebGridPagerModes.NextPrevious);
        <div id="gridContent" class="articleHeader article_lst" style="overflow: auto; width:1400px; position:relative; border: none">


            @grid.GetHtml(tableStyle: "webgrid-table",
             headerStyle: "webgrid-header",
             footerStyle: "webgrid-footer",
             alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "select",
            columns: grid.Columns(
             grid.Column(columnName: "RoleId", header: "ID"),
             grid.Column(columnName: "RoleName", header: "Role Name",
                    style: "col2",
                    format: @<text>
                     <span id="RoleName" class="display-mode">@item.RoleName</span>
                    </text>),
            grid.Column(columnName: "IsAccess", header:"Mapping",
                    style: "col3 webgrid-center-style",
                    format: @<text>
                          @{bool IsAccess = Convert.ToBoolean(item.IsAccess);
                          @*<span id="RoleId" class="display-mode">@Convert.ToString(item.RoleId)</span>*@
                          @Html.CheckBox("AccessId", IsAccess, new { id = Convert.ToString(item.RoleId) })
                        }
                    </text>)
             ))
        </div>
        <br />
        <input type="button" id="btnSave" value="Save" />
    }
    }

</div>

<script type="text/javascript">
    $(document).ready
     (
         function () {
             initialize();

             function initialize() {

                 //debugger;
                 var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';

                 $('#btnSave').click(function () {
                     var SelectedRoleIds = $('input:checkbox:checked').map(function () {
                         return this.id;
                     }).get();

                     var NotSelectedRoleIds = $('input:checkbox:not(:checked)').map(function () {
                         return this.id;
                     }).get();

                     var ApplicationId = $('#ApplicationList').val();
                     $('#lblMsg').empty();

                   //  alert("Checked: " + SelectedRoleIds + " Not Selected: " + NotSelectedRoleIds);
                   //  alert("App ID: " + ApplicationId + " ; RoleId: " + RoleId);

                     $.ajax({
                         type: "POST",
                         url: pHostedDir + "/Home/UpdateAppRoleMap",
                         data: JSON.stringify({ ApplicationId: ApplicationId, SelectedRoleIds: SelectedRoleIds.toString(), NotSelectedRoleIds: NotSelectedRoleIds.toString() }),
                         contentType: 'application/json; charset=utf-8',
                         async: false,
                         datatype: "json",
                         success: function (data) {
                             var receivedData = JSON.parse(data);
                             if (receivedData[0].Message == "success") {
                                 $('#lblMsg').append("Mapping saved successfully...");
                             }
                             else
                                 $('#lblMsg').append("Mapping fail to save...");
                         }
                     });
                 });
             }
         }
     );
</script>