﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                @*@Html.ActionLink("Admin Security Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- linkText, actionName, controllerName -->
                    <li><img src="~/Images/goya_logo.jpg" /></li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Manage Application", "Application", "Home")</li>
                    <li>@Html.ActionLink("Manage Role", "Role", "Home")</li>
                    <li>@Html.ActionLink("Manage App Role Mapping", "AppRoleMappings", "Home")</li>
                    <li>@Html.ActionLink("Manage Navigation", "Menu", "Home")</li>
                    <li>@Html.ActionLink("Manage Role Application Navigation Mapping", "RoleAppAccessMappings", "Home")</li>
                    <li>@Html.ActionLink("Manage User Application Role Mapping", "UserAppRoleMaping", "Home")</li>
                    <li>@Html.ActionLink("Manage User Creation", "UserCreation", "Home")</li>
                    <li>@Html.ActionLink("Manage User Profile", "UserProfile", "Home")</li>
                    <li>@Html.ActionLink("Manage Screen Control", "ManageScreenSettings", "Home")</li>


                    @*<li>@Html.ActionLink("Import OMS User to OAuth", "ImportOMSUserToOAuth", "Home")</li>*@
                </ul>
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @*<h1>Admin Security (Application, Role and Access) Management</h1>*@
        <br /><br /><br /><br />
        @RenderBody()
        <hr />
        <footer>
            <p>
                @*Powered by &copy; @DateTime.Now.Year -  <img src="~/Images/Triveni_logo.jpg" /> &nbsp; &nbsp; &nbsp; 71 Union Ave, Rutherford, NJ 07070*@
                <br />
                <i>Order Management System - Admin Portal v 2.2 </i>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
