﻿@model OMSWebApi.Models.RoleApplicationAccessMapping
@{
    ViewBag.Title = "RoleAppAccessMapping";
}


<div>

    @{if (Model != null)
        {
            var grid = new WebGrid(Model.RoleAppAccessMapList, canPage: true, rowsPerPage: 50, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent"); grid.Pager(WebGridPagerModes.NextPrevious);
    <div id="gridContent" class="articleHeader article_lst" style="overflow: auto; width:1400px; position:relative; border: none">


        @grid.GetHtml(tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
               selectedRowStyle: "select",
               columns: grid.Columns(
               grid.Column(columnName: "AccessId", header: "ID"),
               grid.Column(columnName: "AccessName", header: "Navigation Name",
                       style: "col2",
                       format: @<text>
                        <span id="AccessName" class="display-mode">@item.AccessName</span>
                    </text>),
                   grid.Column(columnName: "Description", header: "Description",
                        style: "col2",
                        format: @<text>
                            <span id="AccessTypeName" class="display-mode">@Convert.ToString(item.Description)</span>
                        </text>),
                        grid.Column(columnName: "Action", header: "Action",
                         style: "col2",
                         format: @<text>
                            <a href="@Url.Action("RedirectPageDetails", "Home", new { pageId = item.AccessId })">Set Access</a>
                        </text>)
                   ))
    </div>
            <br />
            @*<input type="button" id="btnSave" value="Save" />*@
        }
    }

</div>

<script type="text/javascript">
    $(document).ready
     (
         function () {
             initialize();

             function initialize() {

                 //debugger;
                 var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';

                 $('#btnSave').click(function () {
                     $('#lblMsg').empty();
                     var SelectedRoleIds = $('input:checkbox:checked').map(function () {
                         return this.id;
                     }).get();

                     var NotSelectedRoleIds = $('input:checkbox:not(:checked)').map(function () {
                         return this.id;
                     }).get();

                     var ApplicationId = $('#ApplicationList').val();
                     var RoleId = $('#RoleList').val();

                   //  alert("Checked: " + SelectedRoleIds + " Not Selected: " + NotSelectedRoleIds);
                   //  alert("App ID: " + ApplicationId + " ; RoleId: " + RoleId);

                     $.ajax({
                         type: "POST",
                         url: pHostedDir + "/Home/UpdateRoleAppAccess",
                         data: JSON.stringify({ ApplicationId: ApplicationId, RoleId: RoleId, SelectedRoleIds: SelectedRoleIds.toString(), NotSelectedRoleIds: NotSelectedRoleIds.toString() }),
                         contentType: 'application/json; charset=utf-8',
                         async: false,
                         datatype: "json",
                         success: function (data) {
                             var receivedData = JSON.parse(data);
                             if (receivedData[0].Message == "success") {
                                 $('#lblMsg').append("Mapping saved successfully...");
                             }
                             else
                                 $('#lblMsg').append("Mapping fail to save...");
                         }
                     });
                 });

                 $('#RedirectUrl').click(function (AccessId) {
                     console.log('vamoooh');
                     alert('test');
                 });
                
             }
             //function RedirectUrl(AccessID) {
             //    alert(AccessID);
             //    // code to be executed
             //}
         }
     );
</script>
