﻿@model OMSWebApi.Models.UserProfile

<div>
    <table border="0" cellspacing="5" style="">
        <tr>
            <td>
                <table border="0">
                    <tr>
                        <td>UserName</td>
                        <td> &nbsp; &nbsp;</td>
                        <td><input type="text" id="txtUsrName" value="@Model.UserName.Trim()" disabled /></td>
                    </tr>
                    <tr>
                        <td>UserFullName</td>
                        <td></td>
                        <td><input type="text" id="txtUsrFulName" value="@Model.UserFullName.Trim()" /></td>
                    </tr>
                    <tr>
                        <td>Company</td>
                        <td></td>
                        <td><input type="text" id="txtCompany" value="@Model.CompanyId.Trim() - @Model.CompanyName.Trim()" disabled /></td>
                    </tr>
                    <tr>
                        <td>Domain</td>
                        <td></td>
                        <td><input type="text" id="txtDomail" value="@Model.Domain" disabled /></td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td></td>
                        <td><input type="text" id="txtRole" value="@Model.Role.Trim()" disabled /></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td></td>
                        <td><input type="text" id="txtEmail" value="@Model.Email.Trim()" /></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td></td>
                        <td><input type="text" id="txtPhone" value="@Model.Phone.Trim()" /></td>
                    </tr>
                    <tr>
                        <td>UserType</td>
                        <td></td>
                        <td><input type="text" id="txtUserType" value="@Model.UserType" disabled /></td>
                    </tr>
                    <tr>
                        <td colspan="3"><input type="button" id="btnSaveProfile" value="Save" /></td>
                    </tr>
                </table>
            </td>
            <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
            <td valign="top">
                <input type="button" id="btnResetPwd" value="Reset Password" />
            </td>
        </tr>
    </table>
</div>


<script type="text/javascript">
    $(document).ready
     (
         function () {
             initialize();

             function initialize() {

                 var pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';


                 $('#txtPhone').on('keypress', function (e) {

                     if (e.which != 8 && isNaN(String.fromCharCode(e.which))) {
                         e.preventDefault(); //stop character from entering input
                     }

                     var key = e.charCode || e.keyCode || 0;
                     var phone = $(this);

                     if (phone.val().length === 0) {
                         phone.val(phone.val() + '(');
                     }
                     // Auto-format- do not expose the mask as the user begins to type
                     if (key !== 8 && key !== 9) {
                         if (phone.val().length === 4) {
                             phone.val(phone.val() + ')');
                         }
                         if (phone.val().length === 5) {
                             phone.val(phone.val() + ' ');
                         }
                         if (phone.val().length === 9) {
                             phone.val(phone.val() + '-');
                         }
                         if (phone.val().length >= 14) {
                             phone.val(phone.val().slice(0, 13));
                         }
                     }

                     // Allow numeric (and tab, backspace, delete) keys only
                     return (key == 8 ||
                       key == 9 ||
                       key == 46 ||
                       (key >= 48 && key <= 57) ||
                       (key >= 96 && key <= 105));
                 })

            .on('focus', function () {
                phone = $(this);

                if (phone.val().length === 0) {
                    phone.val('(');
                    $("#txtPhone").focusToEnd();
                } else {
                    var val = phone.val();
                    phone.val('').val(val); // Ensure cursor remains at the end
                    $("#txtPhone").focusToEnd();
                }
            })

            .on('blur', function () {
                $phone = $(this);

                if ($phone.val() === '(') {
                    $phone.val('');
                }
            });

                 // Validation for Email
                 function validateEmail(sEmail) {
                     var filter = /^[\w\-\.\+]+\@@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
                     if (filter.test(sEmail)) {
                         return true;
                     }
                     else {
                         return false;
                     }
                 }


               //  -------------------------------------
                 $("#btnSaveProfile").on('click', function () {

                     $('#lblMsg').empty();

                     var UserProfileObj = new Object();
                     UserProfileObj.UserName = $('#txtUsrName').val();
                     UserProfileObj.UserFullName = $('#txtUsrFulName').val();
                     UserProfileObj.Email = $('#txtEmail').val();
                     UserProfileObj.Phone = $('#txtPhone').val();

                     if (!validateEmail(UserProfileObj.Email))
                     {
                         $('#lblMsg').append("Email is not valid.");
                         $('#txtEmail').focus();
                         return false;
                     }

                     var requestData = JSON.stringify(UserProfileObj);
                     $.ajax
                    (
                        {
                            url: pHostedDir + "/Home/UpdateUserProfileDetails",
                            type: 'POST',
                            data: requestData,
                            datatype: "json",
                            contentType: 'application/json; charset=utf-8',
                            async: false,
                            success: function (data) {
                               // alert(data);
                                var receivedData = JSON.parse(data);
                                if (receivedData[0].Message == "success") {
                                    $('#lblMsg').append("Saved successfully");
                                }
                                else { $('#lblMsg').append("Fail to save"); }
                            }

                        }

                    );


                 });

                 $("#btnResetPwd").on('click', function () {

                     $('#lblMsg').empty();

                     var UserProfileObj = new Object();
                     UserProfileObj.UserName = $('#txtUsrName').val();
                     UserProfileObj.Role = $('#txtRole').val();

                     var requestData = JSON.stringify(UserProfileObj);
                     $.ajax
                    (
                        {
                            url: pHostedDir + "/Home/UserResetPwd",
                            type: 'POST',
                            data: requestData,
                            datatype: "json",
                            contentType: 'application/json; charset=utf-8',
                            async: false,
                            success: function (data) {
                                // alert(data);
                                var receivedData = JSON.parse(data);
                                if (receivedData[0].Message == "success") {
                                    $('#lblMsg').append("Password reset successfully for user " + $('#txtUsrName').val() + " to " + receivedData[0].ResetPwd);
                                }
                                else { $('#lblMsg').append("Fail to save"); }
                            }

                        }

                    );


                 });

             }
         }
     );
</script>
