﻿
@model OMSWebApi.Models.UserProfile
@{
    ViewBag.Title = "UserProfile";
}

<div>
    @{if (Model != null)
    {

        <table>
            <tr>
                <td>Search result</td>
            </tr>
            <tr>
                <td>
                    @Html.ListBoxFor(m => m.UserProfileList, new SelectList(Model.UserProfileList, "UserName", "UserFullName", 0), new { @style = "width: 250px; height:300px" })
                </td>

            </tr>
        </table>
    }
    }
</div>


<script type="text/javascript">
    $(document).ready
     (
         function () {
             initialize();

             function initialize() {

                 pHostedDir = '@(System.Configuration.ConfigurationManager.AppSettings["hostedDir"].ToString())';



                 $("#UserProfileList").on('change', function () {
                     $('#usrProfileDetails').empty();
                     $('#lblMsg').empty();
                     var selectedItem = $("#UserProfileList option:selected").text();
                     var arrData = selectedItem.split(',');
                     var UserNameSelected = arrData[0].trim();

                     var UserProfile = new Object();
                     UserProfile.UserName = UserNameSelected;
                     var requestData = JSON.stringify(UserProfile);

                     $.ajax({
                         type: "POST",
                         url: pHostedDir + "/Home/GetUserProfile",
                         data: requestData,
                         contentType: 'application/json; charset=utf-8',
                         async: false,
                         datatype: "json",
                         success: function (data) {
                               $('#usrProfileDetails').append(data);
                         }
                     });
                 });


                 
             }
         }
     );
</script>
